@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        min-height: 100vh;
    }

    body {
        min-height: 100vh;
    }

    :root {
        --color-primary: #3D9B35;
        --color-secondary: #333399;
    }
}

* {
    font-family: Poppins-regular, ubuntu, sans-serif;
    box-sizing: border-box;
}